{{outlet}}
<h1>Favorite Questions</h1>
<div class="favorite-questions row">
  <ul>
    {{#each favoriteQuestion.questions as |question|}}
    {{#link-to 'questions.question' question}}
      <li>{{question}}</li>
      <div>
        {{question.content}} - By:{{question.author}}
      </div>
      {{/link-to}}
    {{/each}}
  </ul>
</div>
