<div class="container" id="heading{{index}}">
  <h4>{{question.content}}</h4>
</div>
<p>By: {{question.author}}</p>
<div class="container">
  {{#link-to 'question' question.id}}<button class="bnt" type="button" name="button">More Info!</button>{{/link-to}}
</div>
