<div class="container" id="questions">
  <h4>{{question.content}}</h4>

<p>By: {{question.author}}</p>
<div class="container">
  {{#link-to 'question' question.id}}<button class="btn" type="button" name="button">Question Details</button>{{/link-to}}
</div>
</div>
