<div class="container">
  <div class="jumbotron">
  <h1><font color="#ff0000">Q</font><font color="#ff2a00">u</font><font color="#ff5500">e</font><font color="#ff7f00">s</font><font color="#ff9f00">t</font><font color="#ffbf00">i</font><font color="#ffdf00">o</font><font color="#ffff00">n</font><font color="#aaff00">s</font><font color="#55ff00"> </font><font color="#00ff00">a</font><font color="#00ff55">n</font><font color="#00ffaa">d</font><font color="#00ffff"> </font><font color="#00bfff">A</font><font color="#0080ff">n</font><font color="#0040ff">s</font><font color="#0000ff">w</font><font color="#2e00ff">e</font><font color="#5d00ff">r</font><font color="#8b00ff">s</font></h1>
    <h4>by Amber Farrington</h4>
  </div>
  {{#link-to 'index'}}<button class="btn" type="button" name="button">Home</button>{{/link-to}}
</div>

{{outlet}}

<!--H1 font courtesy of font color code from patorjk.com/text-color-fader/-->
