<div class="container">
  <div class="jumbotron">
    <h1>Questions And Answers</h1>
    <h4>by Amber Farrington</h4>
  </div>
  {{#link-to 'index'}}<button class="btn" type="button" name="button">Home</button>{{/link-to}}
</div>

{{outlet}}
