<div class="container">
  <div class="jumbotron">

  </div>
  {{#link-to 'index'}}<button class="btn" type="button" name="button">Home</button>{{/link-to}}
  {{#link-to 'contact'}}<button class="btn" type="button" name="button">Contact</button>{{/link-to}}
</div>

{{outlet}}
