{{outlet}}

<div class="container">
  <h2>Like what you see? Contact Me!</h2>
  <p>Name: Amber Farrington</p>
  <p><a href="mailto:amberf0712@outlook.com?Subject=Hello" target="_top">Email Me!</a></p>
</div>
