{{outlet}}

<div class="container">
  <h2>Like what you see? Contact Me!</h2>
  <li id="name"><strong>Name: Amber Farrington</strong></li>
  <li><a href="mailto:amberf0712@outlook.com?Subject=Hello" target="_top">Email Me!</a></li>
  <li><a href="https://github.com/NWShadowDev">View my GitHub!</a></li>
</div>
