<div class="container">
<h3>Click on a Question to View Details!</h3>
{{new-question saveQuestionSender="saveQuestion"}}
</div>
<div class="container">
  {{#each model as |question index|}}
  {{question-tile question=question index=index}}
  {{else}}
  {{/each}}
</div>
<div class="container" id="questions">
  {{favorite-questions}}
</div>
