{{outlet}}

<div class="container">
  <div class="container" id="projects">
    <h2>Like what you see? See More of My projects!</h2>
  </div>
  <div class="container" id="projectBanners">
    <a href="https://github.com/NWShadowDev/MealTrackerJS"><img src="../img/banner2.png"></a><br>
    <a href="https://github.com/NWShadowDev/GitHubAPI"><img src="../img/banner3.png"></a><br>
    <a href="https://github.com/NWShadowDev/MovieActor"><img src="../img/banner4.png"></a><br>
  </div>
</div>
